@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
/* Estilo Global */
* { 
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    box-sizing: border-box; /* Inclui padding e borda na largura/altura */
}
  /* Estilização do corpo da página */
  body {

    font-family: 'Poppins', sans-serif;  /* Define a fonte da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
    width: 100%; /* Define a largura da página */
    height: 100vh; /* Define a altura como 100% da altura da janela */
    background-color: #ddd; /* Define a cor de fundo da página */
    box-sizing: border-box; /* Inclui padding e borda na largura/altura */
    overflow-x: hidden; /* Oculta qualquer conteúdo que exceda a largura do elemento no eixo horizontal (x). Isso é útil para evitar que barras de rolagem apareçam e para garantir que o conteúdo que se estende além da borda direita do container não seja visível. */ 
  } 
 


/* Estilo do cabeçalho */
header {
  text-align: center; /* Centraliza o conteúdo */
  background-color: #ddd; /* Define a cor de fundo */
  justify-content: space-between; /* Distribui os itens dentro do container flexível, colocando espaço igual entre eles, alinhando o primeiro item ao início e o último ao final do container. */
  padding: 20px 23px; /* Define um preenchimento de 20 pixels na parte superior e inferior, e 23 pixels à esquerda e à direita, criando um espaço interno ao redor do conteúdo. */
  display: flex; /* Define o container como um flex container, permitindo que seus filhos sejam dispostos de forma flexível. */

  
}
/* Estilo do título principal no cabeçalho */
header h1 {
  font-size: 55px ;/* Define o tamanho da fonte do título */
  
}

h2 {
  font-size: 18px; /* Tamanho da fonte */
  color: #020101; /* Cor do texto */
  margin-top: 10px; /* Espaço acima do título */
  margin-bottom: 0; /* Remove margem abaixo do título */
  text-align: center; /* Alinha o texto à esquerda */
}

/* Estilo para o logo */


/* Estilo para o texto destacado no logo */
.logo span {
  color: rgb(0, 92, 99); /* Cor específica para o texto dentro do span */
}

/* Estilo para a barra de navegação */
.navbar {
  overflow: hidden;  /* Impede o overflow de conteúdo */
  background-color: #333; /* Cor de fundo da barra */
  text-align: center;/* Centraliza os links da navbar */
  display: flex; /* Usando flexbox para alinhamento */
  justify-content: space-between; /* Espaço entre os itens da navbar */
  align-items: center; /* Alinha verticalmente ex: barra pesquisa */ 
}

/* Estilo para os links da barra de navegação */
.navbar a {
  float: left; /* Coloca os links em linha horizontal */
  font-size: 15px; /* Define o tamanho da fonte dos links */
  color: white; /* Cor do texto dos links */
  padding: 14px 16px; /* Preenchimento interno dos links */
  text-decoration: none; /* Remove sublinhado dos links */
  display: block; /* Garante que cada link seja exibido como bloco */
}
.login-button, .whatsapp-button, .cart-button {
  border: none; /* Remove a borda padrão dos botões */
  padding: 5px 5px; /* Define um preenchimento interno de 5 pixels em todas as direções (cima e baixo, esquerda e direita) */
  background-color: transparent; /* Define a cor de fundo como transparente, para que o botão não tenha uma cor visível */
  font-size: 30px; /* Define o tamanho da fonte como 30 pixels, tornando o texto do botão grande */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}



.search-text { /*campos de entrada de texto destinados a pesquisas*/
  padding: 10px; /* Preenchimento interno */
  border: 1px solid #ddd; /* Borda */
  border-radius: 10px; /* Cantos arredondados */
  
}

.search-submit {
  border: none; /* Remove borda */
  background-color: #333; /* Cor de fundo */
  color: white; /* Cor do texto */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  width: auto; /* Define a largura do elemento como automática */
  height: auto; /* Define a altura do elemento como automática */
  align-items: center; /* Alinha os itens dentro do elemento ao centro */
  padding: 10px 15px; /* Adiciona preenchimento interno */
  border-radius: 5px; /* Arredonda as bordas do botão */
  font-size: 1rem; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}
.search-submit:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
}


 
button:hover { /* botão flutuante (preenchido) */
cursor: pointer;   /* Define que o cursor deve mudar para uma mão ao passar sobre o elemento, indicando que é clicável */

}

/* Estilo para o dropdown na navegação */
.dropdown { /*Um dropdown (ou menu suspenso) é um elemento de interface gráfica em websites*/
  float: left; /* Coloca o dropdown na linha dos links */
  overflow: hidden; /* Impede que o conteúdo vaze */
}

/* Estilo para o botão do dropdown */
.dropdown .dropbtn {
  font-size: 16px; /* Tamanho da fonte do botão */
  border: none; /* Remove borda */
  outline: none; /* Remove borda ao clicar */
  color: white; /* Cor do texto do botão */
  padding: 14px 16px; /* Preenchimento interno */
  background-color: inherit; /* Herda o fundo da navbar */
  font-family: inherit; /* Herda a fonte global */
  margin: 0; /* Remove margem extra */
}

/* Estilo ao passar o mouse sobre os links ou dropdown */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(207, 207, 207); /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
  display: none; /* Inicialmente escondido */
  position: absolute; /* Posição relativa à navbar */
  background-color: #f9f9f9; /* Cor de fundo do dropdown */
  min-width: 160px; /* Largura mínima */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra em volta */
  z-index: 1; /* Coloca o dropdown acima de outros elementos */
}

/* Estilo dos links dentro do dropdown */
.dropdown-content a {
  float: none; /* Links dentro do dropdown ficam em bloco */
  color: black; /* Cor do texto */
  padding: 12px 16px; /* Preenchimento interno */
  text-decoration: none; /* Remove sublinhado */
  display: block; /* Exibe cada link como bloco */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo ao passar o mouse sobre links dentro do dropdown */
.dropdown-content a:hover {
  background-color: #ddd; /* Altera a cor de fundo ao passar o mouse */
}

/* Exibe o conteúdo do dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block; /* Torna o conteúdo visível */
}

/* Estilo para a estrutura de layout */
.row {
  padding: 0 20px; /* Define o preenchimento interno horizontal */
  display: table; /* Define que o container será uma tabela */
}

/* Estilo para as seções principais */
/* Estilo da seção do slider: usa flexbox para centralizar o conteúdo, tanto horizontal quanto verticalmente */
.slider {
  display: flex; /* Define um layout flexível */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  padding: 10px; /* Adiciona um preenchimento interno */
}


/* Estilo da seção do slider */
section.slider {
  margin: 0 auto; /* Centraliza o slider */
  width: 400%; /* Ocupa toda a largura */
  height: auto; /* Altura ajustada automaticamente */
  padding: 0; /* Remove preenchimento */
  overflow-x: hidden; /* Esconde conteúdo que ultrapasse a área */
}

/* Estilo do conteúdo do slider */
.slider-content {
  width: 400%; /* Largura total do slider (para os 4 slides) */
  height: auto; /* Altura ajustada automaticamente */
  display: flex; /* Exibe os slides em flexbox ao lado do outtro */ 
}


.slider-content input {
  display: none; /* Esconde os elementos de input dentro do contêiner .slider-content, tornando-os invisíveis na interface do usuário. Isso pode ser útil para criar um efeito de slider onde os inputs são usados apenas para manipulação interna ou lógica de controle, sem a necessidade de exibi-los visualmente. */
}

/* Estilo de cada caixa de slide */
.slide-box {
  width: 25%; /* Cada slide ocupa 25% da largura total */
  height: auto; /* Altura ajustada automaticamente */
  padding: 0;
  position: relative; /* Posição relativa */
  text-align: center; /* Alinha o conteúdo ao centro */
  transition: 1s; /* Suaviza a transição entre slides */
  cursor: pointer;
  overflow: hidden;
}

/* Estilo das imagens dentro de cada slide */
.slide-box img {
  width: 100%; /* Imagem ocupa 100% da largura da caixa do slide */

}



/* Estilo para a navegação manual e automática */
.nav-manual, .nav-auto {
  position: absolute; /* Posição absoluta em relação ao slider */
  width: 100%; /* Largura total */
  margin-top: 43%; /* Margem superior ajustada */
  display: flex; /* Flexbox para centralizar os botões */ 
  justify-content: center; /* Centraliza os botões horizontalmente */
  
}

/* Estilo dos botões de navegação manual e automática */
.nav-manual .manual-btn, .nav-auto div {
  padding: 6px; /* Preenchimento maior para botões maiores */
  border-radius: 100px ; /* Formato circular */
  cursor: pointer; /* Altera o cursor para o formato "mão" */
  transition: 0.2s; /* Suaviza as transições ao passar o mouse no círculo */
  background-color: #ddd; /* Cor de fundo */
}
/* Distanciamento dos botões e centralização */
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 5px; /* Margem entre os botões */
}

/* Estilo ao passar o mouse sobre os botões de navegação manual */
.nav-manual .manual-btn:hover {
  background-color: #333; /* Cor de fundo ao passar o mouse */
}

/* Estilo ao passar o mouse sobre os botões */
.nav-manual .manual-btn:hover, .nav-auto div:hover {
  background-color: #333; /* Cor de fundo mais escura ao passar o mouse */
  border-color: #333 /* Altera a cor da borda ao passar o mouse */
}

/* Define a cor do botão correspondente ao slide ativo */
#radio1:checked ~ .nav-manual  .manual-btn:nth-child(1),
#radio2:checked ~ .nav-manual .manual-btn:nth-child(2),
#radio3:checked ~ .nav-manual .manual-btn:nth-child(3),
#radio4:checked ~ .nav-manual .manual-btn:nth-child(4) {
  background-color: #333;  
}

/* Movimenta os slides quando o botão de rádio é selecionado */
#radio1:checked ~ .primeiro {
  margin-left: 0%; /* Primeiro slide à vista */
}

#radio2:checked ~ .primeiro {
  margin-left: -25%; /* Move para o segundo slide */
}

#radio3:checked ~ .primeiro {
  margin-left: -50%; /* Move para o terceiro slide */
}
#radio4:checked ~ .primeiro { /* Move para o terceiro slide */
  margin-left: -75%;
}
  
/* Seção Blog */

.blog {
  padding: 40px 20px;
  background-color: #f4f4f4; /* Cor de fundo suave */
  text-align: center;
}

.blog h2 {
  font-size: 2.5em; /* Tamanho do título */
  color: #333;
  margin-bottom: 40px;
}

.blog-post {
  background-color: #fff; /* Define a cor de fundo como branca para os posts do blog. */
  border: 1px solid #ddd; /* Adiciona uma borda cinza clara ao redor do post para separá-lo do fundo. */
  border-radius: 8px; /* Arredonda os cantos da borda para um visual mais suave. */
  padding: 20px; /* Adiciona um espaço interno de 20 pixels ao redor do conteúdo do post. */
  margin: 20px; /* Adiciona um espaço externo de 20 pixels ao redor do post, separando-o de outros elementos. */
  width: 300px; /* Define uma largura fixa para os posts do blog. */
  display: inline-block; /* Exibe os posts lado a lado, permitindo que se ajustem na mesma linha. */
  vertical-align: top; /* Alinha o topo dos elementos em linha com os posts do blog, útil quando há múltiplas linhas de posts. */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil ao redor do post para criar profundidade. */
  transition: transform 0.2s; /* Define uma transição suave para efeitos de transformação, como escalonamento, ao passar o mouse. */
}


.blog-post:hover {
  transform: translateY(-5px); /* Efeito de hover para destacar o post */
}

.blog-post img {
  width: 100%; /* Define a largura da imagem como 100% do contêiner pai, garantindo que se ajuste ao espaço disponível. */
  border-radius: 8px; /* Arredonda os cantos da imagem para que combinem com o estilo arredondado do contêiner do post. */
}

.blog-post h3 {
  font-size: 1.5em; /* Define o tamanho da fonte do título como 1.5 vezes o tamanho padrão, tornando-o mais proeminente. */
  margin: 15px 0; /* Adiciona uma margem de 15 pixels acima e abaixo do título, espaçando-o de outros elementos. */
  color: #333; /* Define a cor do texto do título como um cinza escuro, que é fácil de ler e suave nos olhos. */
}


.blog-post p {
  font-size: 1em; /* Define o tamanho da fonte do parágrafo como o padrão, garantindo boa legibilidade. */
  color: #666; /* Usa um tom de cinza para o texto, proporcionando um contraste suave com o fundo e reduzindo a dureza do texto. */
  margin-bottom: 20px; /* Adiciona uma margem de 20 pixels na parte inferior do parágrafo, espaçando-o de outros elementos abaixo. */
}

.blog-post button {
  background-color: #333; /* Define a cor de fundo do botão como um cinza escuro, oferecendo um visual moderno e elegante. */
  color: #fff; /* Define a cor do texto do botão como branco, garantindo um alto contraste e legibilidade. */
  padding: 10px 20px; /* Adiciona 10 pixels de padding vertical e 20 pixels horizontal, tornando o botão mais confortável de clicar. */
  border: none; /* Remove qualquer borda padrão do botão, dando um visual limpo e minimalista. */
  border-radius: 5px; /* Arredonda os cantos do botão, suavizando sua aparência. */
  cursor: pointer; /* Muda o cursor para um ponteiro ao passar sobre o botão, indicando que ele é clicável. */
  transition: background-color 0.3s; /* Adiciona uma transição suave na cor de fundo quando o botão é interagido, melhorando a experiência do usuário. */
}


.blog-post button:hover {
  background-color: #b92929; /* Cor de destaque no hover */
}

/* Estilo do contêiner interno do carrossel */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilo dos cards dentro do carrossel */
.card {
  flex: 5 0 300px; /* Define a flexibilidade do card: cresce (5), não encolhe (0), com largura base de 300px */
  margin: 5px 5px; /* Margem de 5 pixels ao redor do card */
  border: 1px solid #ddd; /* Adiciona uma borda de 1 pixel com cor cinza claro ao card */
  border-radius: 10px; /* Arredonda os cantos do card com um raio de 10 pixels */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil abaixo do card, criando um efeito de elevação */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do card */
  background-color: #fff; /* Define a cor de fundo do card como branca */
  text-align: center; /* Centraliza o texto dentro do card */
  transition: transform 0.3s ease; /* Adiciona uma transição suave ao efeito de transformação, como zoom ou movimento */
  padding: 1rem; /* Adiciona um preenchimento interno de 1 rem ao card, criando espaço entre o conteúdo e as bordas */
  margin: 1rem; /* Define uma margem de 1 rem ao redor do card, separando-o de outros elementos */
}

.card button {
  background-color: #333; /* Define a cor de fundo do botão como um cinza escuro, criando um visual elegante. */
  color: #fff; /* Define a cor do texto como branco, garantindo alto contraste e boa legibilidade. */
  border: none; /* Remove bordas padrão, resultando em um botão com aparência limpa e moderna. */
  padding: 10px 20px; /* Adiciona 10 pixels de padding vertical e 20 pixels horizontal, aumentando a área clicável e conforto ao usuário. */
  cursor: pointer; /* Muda o cursor para um ponteiro quando o mouse está sobre o botão, indicando que é clicável. */
  font-size: 1rem; /* Define o tamanho da fonte do botão como padrão (rem), garantindo que ele se ajuste ao tamanho de fonte do usuário. */
  border-radius: 5px; /* Arredonda os cantos do botão, suavizando sua aparência e melhorando a estética. */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor de fundo, criando uma interação mais agradável. */
 
}

.card button:hover {
  background-color: #d62828; /* Muda a cor de fundo para um vermelho vibrante quando o mouse está sobre o botão, atraindo a atenção do usuário. */
}


/* Estilo dos botões de navegação */
button.prev, button.next {
  position: absolute; /* Posiciona os botões em relação ao seu contêiner pai */
  top: 50%; /* Coloca os botões verticalmente no meio do contêiner */
  transform: translateY(-50%); /* Centraliza os botões verticalmente, ajustando sua posição */
  background-color: rgba(0, 0, 0, 0.5); /* Define um fundo semi-transparente para os botões */
  color: white; /* Define a cor do texto como branco */
  border: 2px solid transparent; /* Borda transparente */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 2rem; /* Define o tamanho da fonte como 2 rem (unidade relativa à fonte raiz), aumentando a legibilidade do texto nos botões */
  cursor: pointer; /* Muda o cursor para uma mãozinha ao passar o mouse, indicando que o botão é clicável */
  padding: 10px; /* Adiciona um preenchimento interno de 10 pixels ao botão, aumentando a área clicável e melhorando a estética */
  z-index: 1; /* Define a ordem de empilhamento do botão, garantindo que ele fique acima de outros elementos que possam estar sobrepostos */
  margin: 0 5px; /* Espaçamento entre os botões */
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s; /* Transições suaves */
}
button.prev {
  left: 10px; /* Posiciona o botão 'prev' 10 pixels a partir da borda esquerda do contêiner */
}

button.next {
  right: 10px; /* Posiciona o botão 'next' 10 pixels a partir da borda direita do contêiner */
}

button:hover {
  border: 2px solid #e74c3c; /* Borda vermelha ao passar o mouse */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra ao passar o mouse */

}
button:focus {
  outline: 2px solid #e74c3c; /* Contorno de foco para acessibilidade */
}

.destaques {
  padding: 10px; /* Espaçamento interno ao redor do conteúdo */
  text-align: center; /* Centraliza o texto dentro do contêiner */
  background-color: #3333; /* Cor de fundo */
}
.destaques h2 {
  font-size: 25px ; /* Tamanho do texto */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaço abaixo do título */
}

.card-container {
  display: flex; /* Utiliza Flexbox para alinhar os cards */
  justify-content: center; /* Centraliza os cards horizontalmente */
}

.card h1 {
  font-size: 1.2rem;  /* Tamanho da fonte do título principal */
  padding: auto; /* Esta propriedade não é válida; considere removê-la ou substituí-la */
}

.card h2 {
  font-size: .9rem; /* Tamanho da fonte do subtítulo */
  color: #aaaa; /* Cor do subtítulo */
  padding: auto; /* Esta propriedade não é válida; considere removê-la ou substituí-la */
}

.card button {
  background-color: #333; /* Cor de fundo do botão */
  height: 30px; /* Altura do botão */
  border: none; /* Remove borda padrão do botão */
  padding: 4px; /* Preenchimento interno do botão */
  width: 80%; /* Largura do botão */
  color: #fff; /* Cor do texto do botão */
  font-size: 1rem; /* Tamanho da fonte do botão */
  font-weight: bold; /* Negrito no texto do botão */
  border-radius: 10px; /* Cantos arredondados do botão */
}

.card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
}

.card img {
  max-width: 100%; /* Imagem ocupa 100% da largura do card */
  border: 1px solid  #808080; /* Borda da imagem */
}

.card h3 {
  font-size: 1.2em; /* Tamanho da fonte para h3 */
  margin: 10px 0; /* Espaçamento superior e inferior */
}

.card span {
  font-size: 1.1em; /* Tamanho da fonte para o preço */
  color: #e74c3c; /* Cor do preço */
}
/* Estilo do rodapé */
footer {
  background-color: #333; /* Define a cor de fundo do footer como um cinza escuro, criando um contraste forte com o texto branco. */
  color: white; /* Define a cor do texto como branco, garantindo boa legibilidade sobre o fundo escuro. */
  text-align: center; /* Centraliza o texto dentro do footer, proporcionando uma aparência organizada e simétrica. */
  padding: 20px; /* Adiciona 20 pixels de padding em todas as direções, criando espaçamento interno e melhorando a estética. */
  position: relative; /* Define a posição como relativa, permitindo que o footer se posicione em relação ao seu local no fluxo do documento. */
  bottom: 0; /* Define a posição do footer na parte inferior do seu elemento pai, mas não o fixa na tela, permitindo que ele role com o conteúdo. */
  width: 100%; /* Define a largura do footer como 100% da largura do elemento pai, garantindo que ele ocupe toda a largura disponível. */
}


/* Estilo dos títulos no rodapé */
footer dt {
  font-weight: bold; /* Destaca o título com negrito */
}

/* Estilo das descrições no rodapé */
footer dd {
  margin-left: 0; /* Remove margem esquerda */
}

/* Estilo do contêiner do carrossel */
.carousel-container {
  position: relative; /* Permite que os elementos filhos posicionados absolutamente sejam alinhados em relação a este contêiner. */
  width: 90%; /* Define a largura do contêiner como 90% da largura do elemento pai, permitindo ajustes responsivos. */
  margin: auto; /* Centraliza o contêiner horizontalmente na página ao aplicar margem automática nas laterais. */
  overflow: hidden; /* Oculta qualquer conteúdo que exceda as bordas do contêiner, útil para carrosséis que podem apresentar imagens ou conteúdos que se estendem além do limite. */
  border-radius: 10px; /* Arredonda os cantos do contêiner em 10 pixels, proporcionando um visual mais suave e moderno. */
  background-color: #fff; /* Define a cor de fundo como branca, garantindo que o conteúdo seja facilmente legível e destacável. */
}


/* Estilo padrão para desktop e telas maiores */

/* @media para tablets (768px a 1024px) */
@media only screen and (max-width: 1024px) {
  /* Ajusta o layout dos cards */
  .card-container {
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: center; /* Centraliza os cards */
  }
  .card {
    width: 45%; /* Reduz a largura dos cards */
  }

  /* Ajusta o layout do slider */
  .slide-box {
    width: 50%; /* Ajusta a largura dos slides */
  }

  /* Ajusta a navbar */
  .navbar a {
    font-size: 14px; /* Reduz o tamanho da fonte */
    padding: 10px 12px; /* Ajusta o preenchimento */
  }

  /* Ajusta o cabeçalho */
  header h1 {
    font-size: 35px; /* Reduz o tamanho do título */
  }
}


/* @media para celulares (até 768px) */
@media only screen and (max-width: 768px) {
  /* Ajusta a navbar */
  .navbar {
    flex-direction: column; /* Coloca a navbar em coluna */
    align-items: flex-start; /* Alinha à esquerda */
  }
  .navbar a {
    width: 100%; /* Links ocupam 100% da largura */
    text-align: left; /* Alinhamento à esquerda */
  }

  /* Ajusta o layout do slider */
  .slide-box {
    width: 100%; /* Cada slide ocupa 100% da tela */
  }

  /* Ajusta o layout dos cards */
  .card-container {
    flex-direction: column; /* Empilha os cards verticalmente */
  }
  .card {
    width: 90%; /* Cards ocupam quase toda a largura */
    margin: 20px auto; /* Centraliza os cards */
  }

  /* Ajusta os textos no header */
  header h1 {
    font-size: 28px; /* Reduz o tamanho do título */
  }

  /* Ajusta o layout do footer */
  footer {
    text-align: left; /* Alinha o texto à esquerda */
    padding: 20px 10px; /* Ajusta o preenchimento */
  }
}
